html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}


/*
 * Styles for the deck of cards
 */

.deck {
  width: 660px;
  min-height: 680px;
  background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  padding: 32px;
  border-radius: 10px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 3em;
  perspective: 1000px;
}


.card {
  height: 125px;
  width: 125px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
  /* transform-origin: center right; */
}

/* .card-container{
  perspective: 1000px;
  height: 125px;
  width: 125px;
} */

.card__face{
  position: absolute;
  border-radius: 8px;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.card__face--closed{
  background: #2e3d49;
  transform: rotateY(180deg);
}

.card__face--open {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 33px;
  color: #ffffff;
  background: #02b3e4;
}

.card.is-open{
  transform: rotateY(0deg);
}

.card.is-closed{
  transform: rotateY(-180deg);
}

.match {
  background: #02ccba;
}

.no-match {
  background: red;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    display: flex;
    justify-content: space-between;
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.score-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
}

.score-modal-content {
  background-color: #fafafa;
  margin: 20% auto;
  padding: 20px;
  border: 1px solid green;
  width: 400px;
}
